# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/migrations/
# Logs and databases
*.log
*.sqlite3
*.db

# Local development settings
local_settings.py

# Static files
/static/
node_modules/

# Media files
/media/
/static/

# Other
*.swp
.DS_Store
.idea/
.vscode/

.env
../env/
local.py
