<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Password Reset</title>
</head>
<body>
    <p>
        You're receiving this email because you requested a password reset for your user account at {{ site_name }}
    </p>

    <p>Please go to the following page and choose a new password:</p>

    {% block reset_link %}
        {% if url %}
            <a href="{{ url }}/{{ uid }}/{{ token }}">Reset My password</a>
        {% else %}
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">Reset My password</a>
        {% endif %}

    {% endblock %}

    <p>Thanks for using White Label!</p>
</body>
</html>
